<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeWdqE_5tTVDOgOGVEXetIHXASpzxqnRg</string>
	<key>GCM_SENDER_ID</key>
	<string>881933589584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviApp</string>
	<key>PROJECT_ID</key>
	<string>movi-app-7d1ff</string>
	<key>STORAGE_BUCKET</key>
	<string>movi-app-7d1ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881933589584:ios:debdb9da321e9d747e0555</string>
</dict>
</plist>